{% extends "users_templates.html" %}

{%block title%}Index{%endblock%}

{%block card%}
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Dan Gittik
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
		<p>Username: Dan Gittik
		ID: 42
		Age: 30</p>
      </div>
    </div>
  </div>

{%endblock %}

